:root {
	--background-color1: #202124;
	--background-color2: #27272A;
	--text-color1: #A1A1AA;
	--text-color2: #FFFFFF;
	--text-color3: #71717A;
	--border-color1: #414144;
	--level-line-color1: #C6C6C6;
}